21-09-2026
22-09-2026-feedback-changes
24-09-2026
AK-clone
backup-21-09-2026
ak-assessts-1.zip
ak-assessts.zip
ak-clone.zip
New Pages
Changes and Feedback-24-09-2026
phpmailer
architectural-development.html page does not align with the actual mockup page interms of theme, content, structure, layout and images

update "Understairs Storage Page" and "Utility Room" images from "D:\development\websites\astrakat-new\Changes and Feedback-24-09-2026" folder.